@model QUBO.Models.DetalleArreglo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Parte:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdParteNavigation!.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        @*
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdArregloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArregloNavigation!.IdArreglo)
        </dd>
        *@
    </dl>
</div>
<div>
    <a asp-action="Editar" class="btn btn-success" asp-route-id="@Model?.IdDetalle">Editar</a> |
    <a asp-action="Index" class="btn btn-info" asp-route-id="@Model?.IdArreglo">Volver</a>
</div>
