@model QUBO.Models.Parte

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Parte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUsd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUsd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            Modelo de celular
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCelularNavigation!.Modelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.IdPartes">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Volver</a>
</div>
