@model IEnumerable<QUBO.Models.Parte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUsd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCelularNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCelularNavigation.IdCelular)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPartes">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPartes">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPartes">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
