@model IEnumerable<QUBO.Models.Celular>

@{
    ViewData["Title"] = "Index";
}

<h1>Celulares</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Nuevo <i class="bi bi-plus-lg"></i></a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PrecioUsd)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUsd)
            </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdCelular" class="btn btn-success" data-bs-toggle="tooltip" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdCelular" class="btn btn-primary" data-bs-toggle="tooltip" title="Detalles">
                        <i class="bi bi-info-square"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdCelular" class="btn btn-danger" data-bs-toggle="tooltip" title="Eliminar">
                        <i class="bi bi-x-square"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a asp-controller="Parte" asp-action="Index" asp-route-id="@item.IdCelular" class="btn btn-info">Ver Partes</a>
                </td>
        </tr>
}
    </tbody>
</table>
