@model IEnumerable<QUBO.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Control de usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar Usuario <i class="bi bi-plus-circle-fill"></i></a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-success" data-bs-toggle="tooltip" title="Editar">
                   <i class="bi bi-pencil-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-primary" data-bs-toggle="tooltip" title="Detalles">
                   <i class="bi bi-info-square"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-danger" data-bs-toggle="tooltip" title="Eliminar">
                   <i class="bi bi-x-square"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
