@model IEnumerable<QUBO.Models.Arreglo>
@inject IHttpContextAccessor HttpContextAccessor
@using System.Globalization;
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Index";
    var rolUsuario = HttpContextAccessor.HttpContext!.Session.GetString("RolUsuario");

    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Historial de pedidos</h1>
@if (rolUsuario == "ADMINISTRADOR" || rolUsuario == "VENDEDOR")
{
    <p>
        <a asp-action="Create" class="btn btn-success">Agregar Nuevo <i class="bi bi-plus-lg"></i></a>
    </p>
}
<!-- Formulario para filtrar por estado -->
<form method="get" asp-action="Index">
    <div class="form-group row">
        <div class="col-md-5">
            <select id="FiltroEstado" name="estado" class="form-control">
                <option value="" disabled selected hidden>Filtrar por Estado</option>
                <option value="Todos">Todos</option>
                <option value="Entrante">Entrante</option>
                <option value="Reparando">Reparando</option>
                <option value="Terminado">Terminado</option>
                <option value="Entregado">Entregado</option>
                <option value="Sin reparacion">Sin reparacion</option>
                <option value="Sin falla encontrada">Sin falla encontrada</option>
                <option value="Esperando confirmacion">Esperando confirmacion</option>
                <option value="Esperando repuesto">Esperando repuesto</option>
            </select>
        </div>
        <div class="form-group row">
            <div class="col-md-5">
                <input type="text" name="searchString" class="form-control" placeholder="Buscar...">
        
            </div>
        </div>
        <div class="col-auto d-flex align-items-center">
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </div>
    <div class="form-check mt-2">
        <input name="sinRep" class="form-check-input" type="checkbox" value="true" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Incluir "Sin reparacion"
        </label>
    </div>
</form>
<!--
<form asp-action="Index" method="get">
    
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>-->

<partial name="_pager" model="pager" />

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                Dni Cliente
            </th>
            <th class="text-center">
                Modelo
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Problema)
            </th>
            <th class="text-center">
                Ingreso
            </th>
            <th class="text-center">
                Entrega
            </th>
            <th class="text-center">
                Seña
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th class="text-center">
                Tecnico
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="@(item.Estado?.Replace(" ", "-").ToLower())">
            <td>
                <a asp-controller="Cliente" asp-action="Details" asp-route-id="@item.IdClienteNavigation?.IdCliente" class="text-decoration-none text-reset" data-bs-toggle="tooltip" title="Info del cliente">
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation!.Dni)
                </a>
            </td>
            <td>
                <a asp-controller="Celular" asp-action="Details" asp-route-id="@item.IdCelularNavigation?.IdCelular" class="text-decoration-none text-reset" data-bs-toggle="tooltip" title="Info del celular">
                    @Html.DisplayFor(modelItem => item.IdCelularNavigation!.Modelo)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problema)
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}", item.FechaIng)
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}", item.FechaEnt)
            </td>
            <td>
                @string.Format(new CultureInfo("es-AR"), "{0:C}", item.Senia)
            </td>
            <td>
                @string.Format(new CultureInfo("es-AR"), "{0:C}", item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation!.Nombre)
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation!.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td class="text-center">
                    @if (rolUsuario == "ADMINISTRADOR" || rolUsuario == "VENDEDOR")
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdArreglo" class="btn btn-success" data-bs-toggle="tooltip" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.IdArreglo" class="btn btn-primary" data-bs-toggle="tooltip" title="Detalles">
                        <i class="bi bi-info-square"></i>
                    </a>
                    @if (rolUsuario == "ADMINISTRADOR" || rolUsuario == "VENDEDOR")
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdArreglo" class="btn btn-danger" data-bs-toggle="tooltip" title="Eliminar">
                            <i class="bi bi-x-square"></i>
                        </a>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="_pager" model="pager" />