@model IEnumerable<QUBO.Models.Arreglo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Problema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCelularNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Problema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCelularNavigation.IdCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArreglo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdArreglo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArreglo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
